<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<title>Escapium - Escape Room Game HTML Template</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="HTML Template for Escape Room Game">
	<meta name="author" content="Dan Fisher">
	<meta name="keywords" content="escape, room, quest, real, game, life, puzzle, real-life">

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/img/favicons/favicon-120.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/img/favicons/favicon-152.png' %}">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0">

	<!-- Google Web Fonts
	================================================== -->
	<link href="https://fonts.googleapis.com/css?family=Anton%7CHind:400,700%7CMontserrat:400,700" rel="stylesheet">

	<!-- CSS
	================================================== -->
	<!-- Vendor CSS -->
	<link href="{% static 'assets/vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/animate/animate.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
	<link href="{% static 'assets/font-icon/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
	<link href="{% static 'assets/font-icon/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'assets/vendor/slick/slick.css' %}" rel="stylesheet">

	<!-- Template CSS-->
	<link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

	<!-- Booked CSS-->
	<link href="{% static 'assets/css/booked.css' %}" rel="stylesheet">

	<!-- Custom CSS-->
	<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">

</head>
<body>

	<div class="site-wrapper">

		<div id="js-preloader-overlay" class="preloader-overlay">
			<div id="js-preloader" class="preloader"></div>
		</div>

		<!-- Overlay -->
		<div class="site-overlay"></div>
		<!-- Overlay / End -->

		<!-- Header
		================================================== -->
		<header id="header" class="header">

			<!-- Logo - Image Based -->
			<div class="header__logo header__logo--img">
				<a href="index.html"><img src="{% static 'assets/img/logo.png' %}" alt="Escapium"></a>
			</div>
			<!-- Logo - Image Based / End -->

			<!-- Main Navigation -->
			<nav class="main-nav">
				<ul class="main-nav__list">
					<li class="active"><a href="index.html">home</a></li>
					<li class=""><a href="page-about.html">about</a></li>
					<li class=""><a href="#">features</a>
						<ul class="main-nav__sub">
							<li class=""><a href="features-shortcodes.html">Shortcodes</a></li>
							<li class=""><a href="features-typography.html">Typography</a></li>
							<li class=""><a href="features-pricing.html">Pricing Tables <span class="badge badge-danger">New</span></a></li>
							<li class=""><a href="features-404.html">404 Error</a></li>
							<li class=""><a href="features-faqs.html">FAQs</a></li>
						</ul>
					</li>
					<li class=""><a href="#">rooms</a>
						<ul class="main-nav__sub">
							<li class=""><a href="room-list.html">Rooms - List</a></li>
							<li class=""><a href="#">Rooms - Grid</a>
								<ul class="main-nav__sub-2">
									<li class=""><a href="room-grid-2cols.html">2 cols</a></li>
									<li class=""><a href="room-grid-3cols.html">3 cols</a></li>
									<li class=""><a href="room-grid-4cols.html">4 cols</a></li>
									<li class=""><a href="room-grid-nomargins.html">No Margins</a></li>
								</ul>
							</li>
							<li class=""><a href="room-modern.html">Rooms - Modern</a></li>
							<li class=""><a href="room-blocks.html">Rooms - Blocks</a></li>
							<li class=""><a href="room-single.html">Single Room</a></li>
						</ul>
					</li>
					<li class=""><a href="booking-form.html">booking</a>
						<ul class="main-nav__sub">
							<li class=""><a href="booking-form.html">Form</a></li>
							<li class=""><a href="booking-login.html">Login</a></li>
							<li class=""><a href="booking-profile.html">Profile</a></li>
							<li class=""><a href="booking-appointments.html">Appointments</a></li>
						</ul>
					</li>
					<li class=""><a href="blog-right-sidebar.html">blog</a>
						<ul class="main-nav__sub">
							<li class=""><a href="blog-right-sidebar.html">Blog - Right Sidebar</a></li>
							<li class=""><a href="blog-left-sidebar.html">Blog - Left Sidebar</a></li>
							<li class=""><a href="blog-full-width.html">Blog - Full Width</a></li>
							<li class=""><a href="blog-post.html">Single Post</a></li>
						</ul>
					</li>
					<li class=""><a href="page-contacts.html">contacts</a></li>
				</ul>

			</nav>
			<!-- Main Navigation / End -->

			<div class="header__spacer"></div>

			<!-- Secondary Navigation -->
			<nav class="header__nav header__nav--secondary">

				<!-- CTA Button -->
				<a href="booking-form.html" class="btn btn-outline-secondary nav-btn">
					<span class="nav-btn__label">Book Now!</span>
					<i class="nav-btn__icon icon-calendar"></i>
				</a>
				<!-- CTA Button / End -->

				<!-- Secondary Nav -->
				<ul class="nav-secondary">

					<!-- Search Form Toggler -->
					<li class="nav-secondary__search">
						<div class="search-form-control js-search-form-control">
							<div class="search-form-toggler"></div>
							<i class="icon-magnifier search-form-toggler__icon"></i>
						</div>
					</li>
					<!-- Search Form Toggler / End -->

					<!-- Account -->
					<li class="nav-secondary__login">
						<a href="booking-login.html">
							<i class="icon-user"></i>
							<span class="link-label">sign in</span>
						</a>
					</li>
					<!-- Account / End -->

				</ul>
				<!-- Secondary Nav / End -->

			</nav>
			<!-- Secondary Navigation / End -->

			<!-- Mobile Burger Menu Icon -->
			<a id="header-mobile__toggle" class="burger-menu-icon">
				<span class="burger-menu-icon__line"></span>
				<span class="burger-menu-icon__line"></span>
				<span class="burger-menu-icon__line"></span>
			</a>
			<!-- Mobile Burger Menu Icon / End -->

		</header>
		<!-- Header / End -->

		<!-- Main Slider -->
		<div class="main-slider-wrapper">
			<div class="main-slider js-main-slider">
				<!-- Slide #1 -->
				<div class="main-slider__item main-slider__item--img-1">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.1s">You Are</span>
							<span data-animation="fadeInUp" data-delay="0.3s">Locked In!</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
					</div>
				</div>
				<!-- Slide #1 / End -->

				<!-- Slide #2 -->
				<div class="main-slider__item main-slider__item--img-2">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.1s">The Clock</span>
							<span data-animation="fadeInUp" data-delay="0.3s">Is Ticking...</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
					</div>
				</div>
				<!-- Slide #2 / End -->

				<!-- Slide #3 -->
				<div class="main-slider__item main-slider__item--img-4">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.1s">Escape</span>
							<span data-animation="fadeInUp" data-delay="0.3s">in 60 mins?</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
					</div>
				</div>
				<!-- Slide #3 / End -->

				<!-- Slide #4 -->
				<div class="main-slider__item main-slider__item--img-3">
					<div class="main-slider__layer main-slider__item-content">
						<h1 class="main-slider__item-title">
							<span data-animation="fadeInUp" data-delay="0.1s">What is</span>
							<span data-animation="fadeInUp" data-delay="0.3s">Escapium?</span>
						</h1>
						<a href="room-grid-3cols.html" class="main-slider__item-btn btn btn-link btn-link--clean btn-link--dash btn-link--dash-secondary" data-animation="fadeInUp" data-delay="0.6s">View Our Rooms</a>
					</div>
				</div>
				<!-- Slide #4 / End -->

			</div>
		</div>
		<!-- Main Slider / End -->
		<!-- Content
		================================================== -->
		<main class="site-content">

		<!-- Section: Featured Rooms -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Featured Rooms</h2>
				</div>

				<div class="row">
					<div class="col-md-10 ml-md-auto mr-md-auto">

						<!-- Rooms - List -->
						<div class="rooms rooms--list">

							<!-- Room #1 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating rating--3">
											<span class="rating__inner"></span>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Magic Imporium</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 2-3
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Read More</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="{% static 'assets/img/samples/room-list-1.jpg' %}" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #1 / End -->

							<!-- Room #2 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating rating--4">
											<span class="rating__inner"></span>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">The Cure</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 2-3
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Read More</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="{% static 'assets/img/samples/room-list-2.jpg' %}" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #2 / End -->

							<!-- Room #3 -->
							<div class="room" data-aos="fade-up" data-aos-duration="800">
								<div class="room__body box">
									<!-- Header -->
									<header class="room__header">
										<!-- Rating -->
										<div class="room__complexity rating rating--2">
											<span class="rating__inner"></span>
										</div>
										<!-- Rating / End -->
										<!-- Title -->
										<h2 class="room__title"><a href="room-single.html">Burlesque</a></h2>
										<!-- Title / End -->
										<!-- Meta -->
										<div class="room__meta">
											<div class="room__meta-item">
												<i class="ion-person-stalker"></i> 3-5
											</div>
											<div class="room__meta-item">
												<i class="icon-clock"></i> 60
											</div>
											<div class="room__meta-item">
												<i class="ion-location"></i> New York 3031
											</div>
										</div>
										<!-- Meta / End -->
									</header>
									<!-- Header / End -->
									<!-- Excerpt -->
									<div class="room__excerpt">
										<p>Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus. </p>
									</div>
									<!-- Excerpt / End -->
									<!-- Read More -->
									<footer class="room__footer">
										<a href="room-single.html" class="btn btn-primary">Read More</a>
									</footer>
									<!-- Read More / End -->
								</div>
								<!-- Image -->
								<figure class="room__img">
									<a href="room-single.html"><img src="{% static 'assets/img/samples/room-list-3.jpg' %}" alt=""></a>
								</figure>
								<!-- Image / End -->
							</div>
							<!-- Room #3 / End -->

						</div>
						<!-- Rooms - List / End  -->

						<div class="text-center" data-aos="fade" data-aos-duration="600">
							<a href="room-grid-3cols.html" class="btn btn-outline-secondary btn-lg">View All Rooms</a>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Section: Featured Rooms / End -->

		<!-- Section: How it works -->
		<div class="section-content section-content--secondary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">How it works</h2>
				</div>

				<div class="row">
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-lock"></i>
								</div>
							</div>
							<h3 class="icobox__title">You Are Locked In</h3>
							<div class="icobox__desc">
								You will bring nothing in, but the escape room will be filled with useful and sometimes irrelevant objects.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="icon-clock"></i>
								</div>
							</div>
							<h3 class="icobox__title">The Clock Is Ticking…</h3>
							<div class="icobox__desc">
								Can you puzzle your way to the intriguing conclusion and escape the room in 60 minutes?
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
					<div class="col-md-4">
						<!-- Icobox -->
						<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
							<div class="icobox__icon-wrapper">
								<div class="icobox__icon">
									<i class="ion-ios-pulse-strong"></i>
								</div>
							</div>
							<h3 class="icobox__title">Feel The Atmosphere</h3>
							<div class="icobox__desc">
								The rooms is built to create an authentic experience with a fun atmosphere, strict attention to detail.
							</div>
						</div>
						<!-- Icobox / End -->
					</div>
				</div>

			</div>
		</div>
		<!-- Section: How it works / End -->
		<!-- Section: Testimonials -->
		<div class="section-content section-content--tertiary">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Testimonials</h2>
				</div>

				<!-- Testimonials -->
				<div class="testimonials js-testimonials-slick slick--arrows-modern" data-aos="fade-up" data-aos-duration="800">

					<div class="testimonial">
						<blockquote class="testimonial__txt">
							My family and I had a spectacular experience here and they are above and beyond in customer service and entertainment.
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="{% static 'assets/img/samples/comment-avatar-1.png' %}" alt="">
							</figure>
							<h6 class="testimonial__author-name">Aaron</h6>
						</div>
					</div>

					<div class="testimonial">
						<blockquote class="testimonial__txt">
							This place is a blast, especially for groups!  I loved seeing how group members of different personalities approached the puzzles.
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="{% static 'assets/img/samples/comment-avatar-2.png' %}" alt="">
							</figure>
							<h6 class="testimonial__author-name">Tiffany</h6>
						</div>
					</div>

					<div class="testimonial">
						<blockquote class="testimonial__txt">
							My family and I had a spectacular experience here and they are above and beyond in customer service and entertainment.
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="{% static 'assets/img/samples/comment-avatar-1.png' %}" alt="">
							</figure>
							<h6 class="testimonial__author-name">Aaron</h6>
						</div>
					</div>

					<div class="testimonial">
						<blockquote class="testimonial__txt">
							This place is a blast, especially for groups!  I loved seeing how group members of different personalities approached the puzzles.
						</blockquote>
						<div class="testimonial__meta">
							<figure class="testimonial__author-img">
								<img src="{% static 'assets/img/samples/comment-avatar-2.png' %}" alt="">
							</figure>
							<h6 class="testimonial__author-name">Tiffany</h6>
						</div>
					</div>

				</div>
				<!-- Testimonials / End -->
			</div>
		</div>
		<!-- Section: Testimonials / End -->
		<!-- Section: Latest Blog Posts -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Latest Blog Posts</h2>
					<div class="section-heading__subtitle" data-aos="fade-up" data-aos-duration="600">
						<a href="blog-right-sidebar.html">Browse All Blog Posts</a>
					</div>
				</div>

				<!-- Post Grid -->
				<div class="post-grid row">

					<!-- Post #1 -->
					<div class="post-grid__item col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800">

						<!-- Post Thumb -->
						<figure class="post-grid__thumb">
							<a href="blog-post.html"><img src="{% static 'assets/img/samples/post-img-1-sm.jpg' %}" alt=""></a>
						</figure>
						<!-- Post Thumb / End-->

						<div class="post-grid__body">
							<!-- Post Author -->
							<div class="post-grid__author post-grid__author--on-thumb">
								<img src="{% static 'assets/img/samples/post-avatar1.png' %}" alt="" class="post-grid__author-avatar">
								<span class="post-grid__author-name">Andy Bernard</span>
							</div>
							<!-- Post Author / End -->

							<!-- Post Category -->
							<ul class="post-grid__cat list-unstyled">
								<li class="post-grid__cat-item"><a href="#">Rooms</a></li>
							</ul>
							<!-- Post Category / End -->

							<!-- Post Title -->
							<h3 class="post-grid__title"><a href="blog-post.html">Kidnapped Game Now Open</a></h3>
							<!-- Post Title / End -->

							<!-- Post Excerpt -->
							<div class="post-grid__excerpt">Cras eu tristique tellus, sodales elementum turpis. Duis sed rhoncus nulla.</div>
							<!-- Post Excerpt / End -->
						</div>

					</div>
					<!-- Post #1 / End -->

					<!-- Post #2 -->
					<div class="post-grid__item col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">

						<!-- Post Thumb -->
						<figure class="post-grid__thumb">
							<a href="blog-post.html"><img src="{% static 'assets/img/samples/post-img-2-sm.jpg' %}" alt=""></a>
						</figure>
						<!-- Post Thumb / End-->

						<div class="post-grid__body">
							<!-- Post Author -->
							<div class="post-grid__author post-grid__author--on-thumb">
								<img src="{% static 'assets/img/samples/post-avatar2.png' %}" alt="" class="post-grid__author-avatar">
								<span class="post-grid__author-name">Betty Draper</span>
							</div>
							<!-- Post Author / End -->

							<!-- Post Category -->
							<ul class="post-grid__cat list-unstyled">
								<li class="post-grid__cat-item"><a href="#">Basics</a></li>
							</ul>
							<!-- Post Category / End -->

							<!-- Post Title -->
							<h3 class="post-grid__title"><a href="blog-post.html">What is an Escape Room?</a></h3>
							<!-- Post Title / End -->

							<!-- Post Excerpt -->
							<div class="post-grid__excerpt">Cras eu tristique tellus, sodales elementum turpis. Duis sed rhoncus nulla. Proin tincidunt, enim in elementum egestas, lectus tortor pellentesque.</div>
							<!-- Post Excerpt / End -->
						</div>

					</div>
					<!-- Post #2 / End -->

					<!-- Post #3 -->
					<div class="post-grid__item col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">

						<!-- Post Thumb -->
						<figure class="post-grid__thumb">
							<a href="blog-post.html"><img src="{% static 'assets/img/samples/post-img-3-sm.jpg' %}" alt=""></a>
						</figure>
						<!-- Post Thumb / End-->

						<div class="post-grid__body">
							<!-- Post Author -->
							<div class="post-grid__author post-grid__author--on-thumb">
								<img src="{% static 'assets/img/samples/post-avatar1.png' %}" alt="" class="post-grid__author-avatar">
								<span class="post-grid__author-name">Andy Bernard</span>
							</div>
							<!-- Post Author / End -->

							<!-- Post Category -->
							<ul class="post-grid__cat list-unstyled">
								<li class="post-grid__cat-item"><a href="#">Basics</a></li>
							</ul>
							<!-- Post Category / End -->

							<!-- Post Title -->
							<h3 class="post-grid__title"><a href="blog-post.html">Team Building</a></h3>
							<!-- Post Title / End -->

							<!-- Post Excerpt -->
							<div class="post-grid__excerpt">Cras eu tristique tellus, sodales elementum turpis. Duis sed rhoncus nulla. Proin tincidunt, enim in elementum.</div>
							<!-- Post Excerpt / End -->
						</div>

					</div>
					<!-- Post #3 / End -->

				</div>
				<!-- Post Grid / End -->
			</div>
		</div>
		<!-- Section: Latest Blog Posts / End -->
		<!-- Section: Features -->
		<div class="section-content section-content--secondary section-content--gradient-overlay-left section-content--bg1 jarallax" data-jarallax data-speed="0.6">
			<div class="container">

				<div class="row">
					<h4 class="side-title rotated-text col-md-1"><span class="rotated-text__inner">Who can play</span></h4>
					<div class="col-md-6">
						<!-- Features List -->
						<ul class="features-list list-unstyled">

							<li class="features-list__item">
								<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800">
									<i class="ion-ios-people-outline"></i>
								</div>
								<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800">Friends & Family</h5>
							</li>

							<li class="features-list__item">
								<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="100">
									<i class="ion-ios-briefcase-outline"></i>
								</div>
								<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800" data-aos-delay="100">Team & Co-Workers</h5>
							</li>

							<li class="features-list__item">
								<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="200">
									<i class="ion-ios-game-controller-b-outline"></i>
								</div>
								<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800" data-aos-delay="200">Game Lovers</h5>
							</li>

							<li class="features-list__item">
								<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="300">
									<i class="ion-plane"></i>
								</div>
								<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">Tourists</h5>
							</li>

						</ul>
						<!-- Features List / End -->
					</div>
				</div>

			</div>
		</div>
		<!-- Section: Features / End -->

		<!-- Section: Instagram -->
		<div class="section-content">
			<div class="container">
				<div class="section-heading section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Instagram Shots</h2>
					<div class="section-heading__subtitle" data-aos="fade" data-aos-duration="600">
						<a href="#">#escapium</a>
					</div>
				</div>

				<!-- Instagram Feed -->
				<ul id="instagram-feed-tagged" class="widget-instagram__list widget-instagram__list--gutter-xs widget-instagram__list--4cols"></ul>
				<!-- Instagram Feed / End -->
				<div class="text-center widget-instagram__btn" data-aos="fade" data-aos-duration="600">
					<a href="https://www.instagram.com/dan.fisher.dev" class="btn btn-outline-secondary btn-lg">Follow Our Instagram</a>
				</div>
			</div>
		</div>
		<!-- Section: Instagram / End -->
		<!-- Section: Get in Touch -->
		<div class="section-content section-content--no-padding section-content--secondary">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col--no-padding">
						<!-- Google Map -->
						<div class="gm-map gm-map--lg" data-map-style="shades-of-grey" data-map-address="Central Park, New York, US" data-map-icon="assets/img/gmap-logo.png" data-map-zoom="15"></div>
						<!-- Google Map / End -->
					</div>
					<div class="col-md-6">
						<div class="section-content__inner">
							<div class="section-heading section-heading--divider-top section-heading--left">
								<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Get In Touch</h2>
							</div>
							<!-- Contact Form -->
							<form action="#" id="contact-form">
								<div class="form-group form-group--lg">
									<input type="text" class="form-control" id="contact-name" placeholder="Your Name...">
								</div>
								<div class="form-group form-group--lg">
									<input type="email" class="form-control" id="contact-email" placeholder="Your Email Address...">
								</div>

								<div class="form-group form-group--lg">
									<textarea id="contact-message" class="form-control" rows="4" placeholder="Your Message..."></textarea>
								</div>

								<input type="button" class="btn btn-outline-secondary btn-lg" value="Send Message">
							</form>
							<!-- Contact Form / End -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Section: Get in Touch / End -->
		<!-- Section: CTA -->
		<div class="section-content section-content--tertiary">
			<div class="container">
				<div class="section-heading section-heading--mb-sm section-heading--divider-top">
					<h2 class="section-heading__title" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200">Ready For The Escape?</h2>
					<div class="section-heading__subtitle section-heading__subtitle--default" data-aos="fade-up" data-aos-duration="600" data-aos-delay="300">
						Escape Room gives you the opportunity to have fun
					</div>
				</div>

				<div class="text-center" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">
					<a href="#" class="btn btn-primary btn-lg">Book Your Escape</a>
				</div>
			</div>
		</div>
		<!-- Section: CTA / End -->
		</main>

		<!-- Footer
		================================================== -->
		<footer id="footer" class="footer">

			<!-- Footer Widget -->
			<div class="footer-widgets">
				<div class="container">
					<div class="row footer-widgets__row footer-widgets__row--is-numbered">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<!-- Widget: Address -->
							<div class="widget widget--footer">
								<div class="widget__header">
									<h4 class="widget__title">Our Address</h4>
								</div>
								<div class="widget__content">
									<address>
										<p>
											Escape Room Ltd.<br>
											2390 RoadHill St., Suite 100<br>
											North Downtown, NY 82153
										</p>

										<p>
											Email: <a href="mailto:info@escapium.com">info@escapium.com</a><br>
											Tel: +1 800 900 1248
										</p>
									</address>
								</div>
							</div>
							<!-- Widget: Address / End -->
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<!-- Widget: Links -->
							<div class="widget widget--footer widget_nav_menu">
								<div class="widget__header">
									<h4 class="widget__title">Useful Links</h4>
								</div>
								<div class="widget__content">
									<ul>
										<li><a href="#">About</a></li>
										<li><a href="#">Gallery</a></li>
										<li><a href="#">Plan an Event</a></li>
										<li><a href="#">Pricing Packages</a></li>
										<li><a href="#">FAQ</a></li>
										<li><a href="#">Contact</a></li>
									</ul>
								</div>
							</div>
							<!-- Widget: Links / End -->
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<!-- Widget: Schedule -->
							<div class="widget widget--footer widget-schedule">
								<div class="widget__header">
									<h4 class="widget__title">Working Hours</h4>
								</div>
								<div class="widget__content">
									<ul class="schedule schedule-list">
										<li class="schedule__item">
											<span class="schedule__title">Monday:</span>
											<span class="schedule__time">6pm - 11pm</span>
										</li>
										<li class="schedule__item">
											<span class="schedule__title">Tuesday:</span>
											<span class="schedule__time">5pm - 11pm</span>
										</li>
										<li class="schedule__item">
											<span class="schedule__title">Wednesday:</span>
											<span class="schedule__time">Closed</span>
										</li>
										<li class="schedule__item">
											<span class="schedule__title">Thursday:</span>
											<span class="schedule__time">6pm - 11pm</span>
										</li>
										<li class="schedule__item">
											<span class="schedule__title">Friday:</span>
											<span class="schedule__time">2pm - 11pm</span>
										</li>
										<li class="schedule__item">
											<span class="schedule__title">Saturday:</span>
											<span class="schedule__time">11am - 11pm</span>
										</li>
										<li class="schedule__item">
											<span class="schedule__title">Sunday</span>
											<span class="schedule__time">11am - 9pm</span>
										</li>
									</ul>
								</div>
							</div>
							<!-- Widget: Schedule / End -->
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<!-- Widget: Social Links -->
							<div class="widget widget--footer widget-social">
								<div class="widget__header">
									<h4 class="widget__title">Social Links</h4>
								</div>
								<div class="widget__content">
									<ul class="social-links social-links--circle">
										<li class="social-links__item">
											<a class="social-links__link" href="#"><i class="fab fa-facebook-f"></i></a>
										</li>
										<li class="social-links__item">
											<a class="social-links__link" href="#"><i class="fab fa-twitter"></i></a>
										</li>
										<li class="social-links__item">
											<a class="social-links__link" href="#"><i class="fab fa-instagram"></i></a>
										</li>
										<li class="social-links__item">
											<a class="social-links__link" href="#"><i class="fab fa-tripadvisor"></i></a>
										</li>
										<li class="social-links__item">
											<a class="social-links__link" href="#"><i class="fab fa-yelp"></i></a>
										</li>
										<li class="social-links__item">
											<a class="social-links__link" href="#"><i class="fab fa-youtube"></i></a>
										</li>
										<li class="social-links__item">
											<a class="social-links__link" href="#"><i class="fab fa-google-plus-g"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- Widget: Social Links / End -->
						</div>
					</div>
				</div>
			</div>
			<!-- Footer Widgets / End -->

			<!-- Footer Copyright -->
			<div class="footer-copyright">
				<div class="container">

					<!-- Logo - Image Based -->
					<div class="footer__logo footer__logo--img">
						<a href="index.html"><img src="{% static 'assets/img/footer-logo.png' %}" srcset="{% static 'assets/img/footer-logo@2x.png 2x' %}" alt="Escapium Logo"></a>
					</div>
					<!-- Logo - Image Based / End -->

					<div class="footer-copyright__txt">
						Copyright &copy; 2019 Escapium &nbsp;|&nbsp; All Rights Reserved
					</div>
				</div>
			</div>
			<!-- Footer Copyright / End -->
		</footer>
		<!-- Footer / End -->

		<!-- Search Form -->
		<i class="js-search-form-close search-form-close icon-close"></i>
		<form action="#" class="search-form-overlay">
			<div class="search-input">
				<input type="text" name="input-search" class="input-search" placeholder="Enter your search...">
				<button type="submit" class="submit">
					<i class="icon-arrow-right"></i>
				</button>
			</div>
		</form>
		<!-- Search Form / End -->

	</div><!-- .site-wrapper -->

	<!-- Javascript Files
	================================================== -->
	<!-- Vendors JS -->
	<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'assets/vendor/jquery/jquery-migrate.min.js' %}"></script>

	<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<script defer src="{% static 'assets/font-icon/font-awesome/js/all.min.js' %}"></script>
	<script src="//maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
	<script src="{% static 'assets/vendor/gmap3/dist/gmap3.min.js' %}"></script>

	<!-- Core JS -->
	<script src="{% static 'assets/js/core.js' %}"></script>

	<!-- Template JS -->
	<script src="{% static 'assets/js/init.js' %}"></script>

</body>
</html>
